.gitignore
FullCartApp.sln
global.json
FullCart.Api/appsettings.Development.json
FullCart.Api/FullCart.Api.csproj
FullCart.Api/Program.cs
FullCart.Api/Properties/launchSettings.json
FullCart.Application/FullCart.Application.csproj
FullCart.Domain/FullCart.Domain.csproj
FullCart.Domain/Common/BaseAuditableEntity.cs
FullCart.Domain/Common/BaseEntity.cs
FullCart.Domain/Common/BaseEvents.cs
FullCart.Domain/Entities/AppUser.cs
FullCart.Domain/Entities/Brand.cs
FullCart.Domain/Entities/CartItem.cs
FullCart.Domain/Entities/Category.cs
FullCart.Domain/Entities/Product.cs
FullCart.Infrastructure/FullCart.Infrastructure.csproj
FullCart.Infrastructure/Data/CartDbContext.cs
FullCart.Infrastructure/Data/Migrations/20240127110659_CreateInitials.cs
FullCart.Infrastructure/Data/Migrations/20240127110659_CreateInitials.Designer.cs
FullCart.Infrastructure/Data/Migrations/20240127112139_ExtendedEntities.cs
FullCart.Infrastructure/Data/Migrations/20240127112139_ExtendedEntities.Designer.cs
FullCart.Infrastructure/Data/Migrations/CartDbContextModelSnapshot.cs
FullCart.Api/appsettings.Development.json
FullCart.Api/FullCart.Api.csproj
FullCart.Api/Program.cs
FullCart.Api/Properties/launchSettings.json
FullCart.Application/FullCart.Application.csproj
FullCart.Domain/FullCart.Domain.csproj
FullCart.Domain/Common/BaseAuditableEntity.cs
FullCart.Domain/Common/BaseEntity.cs
FullCart.Domain/Common/BaseEvents.cs
FullCart.Domain/Entities/AppUser.cs
FullCart.Domain/Entities/Brand.cs
FullCart.Domain/Entities/CartItem.cs
FullCart.Domain/Entities/Category.cs
FullCart.Domain/Entities/Product.cs
FullCart.Infrastructure/FullCart.Infrastructure.csproj
FullCart.Infrastructure/Data/CartDbContext.cs
FullCart.Infrastructure/Data/Migrations/20240127110659_CreateInitials.cs
FullCart.Infrastructure/Data/Migrations/20240127110659_CreateInitials.Designer.cs
FullCart.Infrastructure/Data/Migrations/20240127112139_ExtendedEntities.cs
FullCart.Infrastructure/Data/Migrations/20240127112139_ExtendedEntities.Designer.cs
FullCart.Infrastructure/Data/Migrations/CartDbContextModelSnapshot.cs
FullCart.Api/appsettings.Development.json
FullCart.Api/FullCart.Api.csproj
FullCart.Api/Program.cs
FullCart.Api/Properties/launchSettings.json
FullCart.Application/FullCart.Application.csproj
FullCart.Domain/FullCart.Domain.csproj
FullCart.Domain/Common/BaseAuditableEntity.cs
FullCart.Domain/Common/BaseEntity.cs
FullCart.Domain/Common/BaseEvents.cs
FullCart.Domain/Entities/AppUser.cs
FullCart.Domain/Entities/Brand.cs
FullCart.Domain/Entities/CartItem.cs
FullCart.Domain/Entities/Category.cs
FullCart.Domain/Entities/Product.cs
FullCart.Infrastructure/FullCart.Infrastructure.csproj
FullCart.Infrastructure/Data/CartDbContext.cs
FullCart.Infrastructure/Data/Migrations/20240127110659_CreateInitials.cs
FullCart.Infrastructure/Data/Migrations/20240127110659_CreateInitials.Designer.cs
FullCart.Infrastructure/Data/Migrations/20240127112139_ExtendedEntities.cs
FullCart.Infrastructure/Data/Migrations/20240127112139_ExtendedEntities.Designer.cs
FullCart.Infrastructure/Data/Migrations/CartDbContextModelSnapshot.cs
FullCartApp.sln
global.json
/.vs
/client/FullCartUI/.vscode
FullCartApp.sln
