<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="/assets/images/logo.png" style="max-height:70px;" alt="logo"> 
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 text-uppercase">
        <li><a href="#" class="nav-link px-2 link-dark">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Shop</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Contact</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a class="position-relative me-5 align-top">
            <i class="fa fa-shopping-cart fa-2x text-dark"></i>
            <span class="position-absolute top-2 start-100 translate-middle badge rounded-pill bg-info">
              5
              <span class="visually-hidden">Cart Item</span>
            </span>
        </a>
        <button type="button" class="btn btn-outline-secondary me-2">Login</button>
        <button type="button" class="btn btn-outline-secondary">Sign up</button>
      </div>
    </header>
  </div>